body{
    font-family: Arial, Helvetica, sans-serif ;
}
.header{
    width:1535px;
    height: 350px;
    margin: auto;
}
.navigation{
    width: 1535px;
    background-color: darkgray;
    margin: auto;
    overflow: auto;
    font-family:fantasy;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation li{
    float: left;
}
a:link{
    color: white;
    width: 125px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-size: large;
}
a:hover{
    background-color:darkmagenta;
}
.Majas{
    width: 100%;
    float: left;
    color: black;
    background-image: url(images/background.jpg);
    background-size: cover;
}
.Majas h1{
    float: center;
}
.Konten{
    float: left;
    text-align: center;
    width: 100%;   
}

.Konten p{
    padding: 10px 30px;
    margin-block-end: 2px;
    margin-block-start: 2px; 
}

.footer {
    background-position-y: center;
    width: 1460px;
    height: 120px;
    margin: auto;
    float: left;
    padding: 10px 30px;
    color: black;
    margin-top:  5px;
    background-color: darkgrey;
}
.Pesan{
    margin-left: 900px;
    color: white;
    font-size: 10px;

}
.footer ul{
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    align-items: center;
}
.footer li{
    height: 24px;
    list-style: none;
    margin: 5px;
}

.footer a{
    float: left;
    color: black;
    text-decoration: none;
    font-size: small;
}
.footer img{
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 5px;
}